html, body{width: 100%; height: auto; overflow: auto;}
body{overflow:hidden;}
/*main{padding-bottom: 260px;}*/
/* 만들기 순서 */
ul[class^="make-step"] > li:first-child{margin-top: 20px;}
ul[class^="make-step"] > li:last-child{margin-bottom: 40px;}
ul[class^="make-step"] > li > dl > dt{width:100%; height: 50px; border: 4px solid #fa0; border-radius: 10px; box-sizing: border-box;}
ul[class^="make-step"] > li > dl > dt > button {width:100%; height: 100%; color: #fa0}
ul[class^="make-step"] > li > dl > dd{display: none;}
ul[class^="make-step"] > li > dl > dd.show{display: block;}

/* step2 */
.step2_menu{text-align: center; margin-top: 20px;}
.step2_menu li{text-align: center; padding: 5px; display: inline;}
input[name="kind_of_howf"]:checked+label{color:#fff; font-weight: bold; font-size: 20px; background-color: #fa0;}
input[name="kind_of_howf"]+label{border: 2px solid; padding: 5px 10px;border-radius: 10px; color: #fff; background-color: #bbb;}
input[name="kind_of_howf"]{display: none;}
input[name="kind_of_howf"], input[name="kind_of_howf"]+label{cursor: pointer;}

/* 정보 입력 란 */
#loadInfobox form{padding-bottom: 10px;}
form{padding: 20px;}
legend {display: block; width:1px; height: 1px; position: absolute; top: -999999px; left: -999999px; z-index: -999999; overflow: hidden;}
form li{margin-bottom: 20px;}
form dt, form dd{margin-bottom: 12px; font-weight: 700; text-align-last: left;}
form dd input[type="text"]{width: 100%; height: 50px; font-size: 16px; padding: 10px; border-radius: 4px;}

/* 모달창 */
.modal-bg{position: absolute; top:0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.95);}

/* 미리보기 */
#loadTable, #loadSCard, #loadMCard{position: absolute; top: 0;}

/*
.preview{width: 100vw; transform: scale(0.25); transform-origin: 0 100%; position: fixed; left:0; bottom:0; font-size: 100px; display: none;}
.preview > p{width: 1260px; background-color: #fa0; color:#fff; padding: 10px; box-sizing: border-box; text-align: center; border-radius: 300px 300px 0 0;}
.preview > p > button{font-size: inherit; color: inherit;}
#loadTable{width: 1260px;}
*/
/*.preview{width:1px; height: 1px; overflow: hidden;}*/

/* 맵 테이블 { */
/*.mk-imgdom, .mcard{width:1px; height: 1px; opacity:0; position: absolute; top:0; left:0;}*/
.mk-imgdom{ position: relative; left: 0; z-index: -999; opacity: 0;}
.mk-imgdom .map-imgtag{width:100%; height: 100%; object-fit: cover; position: absolute; transform: translate(-50%, -50%); position: absolute; top: 50%; left: 50%;}
#loadMCard .map-imgtag{width:auto;}
.mcard, .map-table{}
/*.mk-imgdom .map-imgtag + div{position:absolute; top:0; left:0;}*/

.img_table{background-size: cover; background-repeat: no-repeat;}
.map-table{width: 1260px; height: 910px; background-color: transparent; background-repeat: no-repeat; background-size: cover; position: relative;}
.map-table .maptable-detail{width: 100%; height:100%; padding: 20px; box-sizing: border-box; background-color: rgba(255,255,255,0.2); position: absolute; top:0; left:0;}
.map-table .inner-table{width: 100%; height: 100%;}

/* table-head */
.map-table .inner-table .table-head{width: 100%; height: 120px; display: flex; align-items: center;}
.map-table .inner-table .table-head .cycle-bar{width: auto; height: auto; border-radius: 20px;}
.map-table .inner-table .table-head .cycle-bar > ul{width: 100%; height: 100%; display: flex; border-radius: 20px; overflow: hidden;}
.map-table .inner-table .table-head .cycle-bar > ul > li {width: 80px; height: 80px; border-left: 0; box-sizing: border-box; line-height: 72px; text-align: center; font-size: 22px; font-weight: 600; color: #fff; text-shadow: 0 0 8px #333;}
.map-table .inner-table .table-head .cycle-bar > ul > li:nth-child(1){border-radius: 20px 0 0 20px; text-shadow: none;}
.map-table .inner-table .table-head .cycle-bar > ul > li:last-child{border-radius: 0 20px 20px 0; text-shadow: none;}
.map-table .inner-table .table-head .title-box{text-align: center; flex-grow: 1; padding-right: 20px; box-sizing: border-box; font-size: 50px; font-weight: 600; text-shadow: 0px 0px 4px rgba(255,255,255,0.6); color: #fa0; word-break: keep-all;}

/* table-body */
.map-table .inner-table .table-body{width:100%; height: 750px; display: flex;}
.map-table .inner-table .table-body .pc-box{width:auto; height:auto; display: flex; flex-direction: column;}
.map-table .inner-table .table-body .pc-box > ul{width:100%; height: 100%; display: flex;}
.map-table .inner-table .table-body .pc-box > ul > li {width: 180px; height: auto; border-radius: 20px 20px 0 0; overflow: hidden; margin-right: 12px; margin-bottom: 10px;}
.map-table .inner-table .table-body .pc-box > ul > li:last-child{margin-right: 0;}
.map-table .inner-table .table-body .pc-box > ul > li div{width:100%; box-sizing: border-box;}
.map-table .inner-table .table-body .pc-box > ul > li .pc-name{height: 50px; line-height: 50px; text-indent: 10px; border-radius: 20px 20px 0 0;}
.map-table .inner-table .table-body .pc-box > ul > li .pc-fig{height: 180px;}
.map-table .inner-table .table-body .pc-box > ul > li .pc-item{height: 80px;}
.map-table .inner-table .table-body .pc-box > ul > li .pc-item ul{width:100%; height: 100%; display: flex;}
.map-table .inner-table .table-body .pc-box > ul > li .pc-item ul > li{flex-grow:1; text-align: center; margin-top: 12px;}
.map-table .inner-table .table-body .pc-box > ul > li .pc-mdcard{height: 300px;}
.pc-mdcard{color: #fff; text-shadow: 0px 0px 8px #333; text-align: center; font-size: 30px; word-break: keep-all; display: flex; align-items: center; justify-content: center;}

.map-table .inner-table .table-body .pc-box .memo-box{width: 100%; height: 160px; box-sizing: border-box; border-radius: 20px; text-indent: 10px; color: #fff; text-shadow: 0 0 4px #333;}

  /*infobox*/
.map-table .inner-table .table-body .info-box{width: auto; height:100%; flex-grow:1; margin-left: 12px;}
.map-table .inner-table .table-body .info-box div{margin-top: 45px; border-radius: 20px 0 20px 20px; position: relative; box-sizing: border-box;}
.map-table .inner-table .table-body .info-box div.after{width: 120px; height: 40px; position: absolute; top:-86px; right: -4px; border-radius: 20px 20px 0 0; text-align: center; line-height: 40px;}
.map-table .inner-table .table-body .info-box .ho-box{width: 100%; height: 290px;}
.map-table .inner-table .table-body .info-box .battle-box{width:100%; height: 370px;}
.map-table .inner-table .table-body .info-box .battle-box ul{width:100%; height:100%; display: flex; flex-wrap: wrap; border-radius: 20px 0 20px 20px; overflow: hidden;}
.map-table .inner-table .table-body .info-box .battle-box ul > li{width: 33.333333%; flex-grow:1; border-bottom:0; display: flex; justify-content: center; align-items: center; font-size: 30px; color: #fff; text-shadow: 0px 0px 8px #333;}
.map-table .inner-table .table-body .info-box .battle-box ul > li:first-child{border-radius: 20px 0 0 0; border-top:0;}
.map-table .inner-table .table-body .info-box .battle-box ul > li:nth-child(2){border-top:0;}
.map-table .inner-table .table-body .info-box .battle-box ul > li:nth-child(odd){border-left:0; border-right:0; }
.map-table .inner-table .table-body .info-box .battle-box ul > li:nth-child(even){border-right:0}
.map-table .inner-table .table-body .info-box .battle-box ul > li:nth-child(5){border-radius: 0 0 0 20px;}
.map-table .inner-table .table-body .info-box .battle-box ul > li:last-child{border-radius: 0 0 20px 0;}
/* } 맵 테이블 */

/* search {*/
#loadSearch{width: 100%; height: 100%;}
.search-box{width:100%; height:100%; padding: 2px; box-sizing: border-box; display: flex; flex-direction: column;}
.form_search{padding: 0;}
.box_title{text-align: center;}
.search-box h3{display: inline-block; text-align: center; padding-top: 10px;}
.search-box h3 a:hover{color: #fff;}
#imgFile{display: none;}
#imgFile + label{color: #fff; cursor: pointer; border: 2px solid; border-radius: 4px; padding: 2px;}
.search-box .seach-head{width: 100%; height: auto; background-color: #fa0;}
.search-box .seach-head fieldset div{display: flex; padding: 10px 10px 5px; box-sizing: border-box;}
.search-box .seach-head fieldset input{flex-grow:1; display: block; border-radius: 8px 0 0 8px; border: 2px solid #fa0; font-size: 16px; border-right: 0;}
.search-box .seach-head fieldset button{width: 80px; height: 50px; display: block; background-color: #fff; border-radius: 0 8px 8px 0; border: 2px solid #fa0; color: #fa0; font-weight: 600; font-size: 1rem;}

.seach-contents{width: 100%; height: auto; border: 1px solid #fa0; box-sizing: border-box; border-top: 0; border-radius: 0 0 8px 8px; overflow: auto; padding: 4px; flex-grow:1;}
.seach-contents ul{width:100%; height: auto; display: flex; justify-content: space-between; flex-wrap: wrap;}
.seach-contents ul li{width: 33%; padding-top: 24%; margin-bottom: 10px; border-radius: 8px; position: relative; overflow: hidden; border: 2px solid #ccc; cursor: pointer; box-sizing:border-box;}
.seach-contents ul li.onborder{border: 2px solid #fa0;}
.seach-contents ul li.onborder::after{content: "선택됨";position: absolute; width: 100%; height: 100%; background-color: rgba(0,0,0,0.8); top: 0; left:0; display: flex; justify-content: center; align-items: center; color: #fff;}
.seach-contents ul li:nth-cild(2n){margin-right: 0;}
.seach-contents ul li .wrap_img{position: absolute; top: 0; left:0; width: 100%; height: 100%; background-size: cover; background-repeat: no-repeat;}
.seach-contents ul li .wrap_img > a{position: absolute; bottom: 0; display: block; width: 100%; background-color: rgba(255,255,255,0.6); text-align: center; padding: 2px; color: #000; font-weight: 200; font-size: 0.7rem;; max-height: 0.7rem; z-index: 10;}
.seach-contents ul li .wrap_img > a:hover{color:#fff; background-color: rgba(0,0,0,0.6);}
/* } search */

/* preview {*/
.modal-bg{position: fixed; top:0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.8); display: flex; padding: 10px;box-sizing: border-box; flex-direction: column; justify-content: center; align-items: center;}
.modal-bg.hide{display: none;}
.preview{width: 100%; max-width: 640px; min-width: 300px; height: 40%; max-height:374px; background-color: #fff;}
.preview .figure{width:100%; height: 100%; position: relative;}
.preview .img-box{width: 100%; height: 100%; position: absoltue; top:0; left:0;}
.preview .img-box > li{width:100%; height: 100%; position: absolute; top:0; left: 0; padding: 5px; box-sizing: border-box; background-color: #fff; display: none;}
.preview .img-box > li:first-child{display: block;}
.preview .img-box > li img{width:100%; height:100%; object-fit: contain;}
.preview .img-box > li .btn-download{width: 80px; height:40px; position: absolute; bottom:0; left:0; background-color: rgba(255,170,0,0.8); color: #fff; border: 2px solid #fa0; border-radius: 0 10px 0 0; text-align: center; line-height: 40px;}
.preview .img-btn {width: 220px; height: 30px; position: absolute; bottom: 10px; left: 50%; margin-left: -110px; display: flex; background-color: #ddd;}
.preview .img-btn > li{flex-grow: 1; text-align: center; line-height: 30px; cursor: pointer;}
.preview .close{position: absolute; top:0; right: 0; width: 60px; height: 40px; border: 2px solid #ddd; border-radius: 0 0 0 10px; background-color: rgba(0,0,0,0.5); color: #fff;}

.detailop-box{width: 100%; max-width: 640px; min-width: 300px; height: 58%; max-height:520px; background-color: #fff; margin-top: 10px; display: flex; flex-direction: column;}
.detailop-box .op-tap{width:100%; height: 40px; display: flex; flex-shrink:0;  background-color: #ddd;}
.detailop-box .op-tap>li{height: 100%; flex-grow: 1; text-align: center; line-height: 40px; cursor: pointer;}
.detailop-box .op-box{width:100%; flex-grow:1; flex-shrink:1; overflow: auto;}
.detailop-box .op-box>li{display: none; height:100%;}
.detailop-box .op-box>li.show{display: block;}
#loadSelectColor{width: 100%; height: 100%;}
#loadSelectColor > ul{width:100%; height: 100%; padding: 4px; box-sizing: border-box;}
/* } preview */

.onfa0{background-color: #fa0; color: #fff;}

/* 세션카드 {*/
.scard{width:1040px; height: 640px; background-color: #ddd; position: relative;}
.scard .scard-detail{display: flex; width:100%; height:100%; justify-content: center;}
.scard .scard-detail2{width: 100%; height: 100%; padding: 100px; box-sizing: border-box; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.scard {text-align: center; position: relative;}
.scard .scard-cycle{position: absolute; top: 60px; left: 60px;}
.scard .title-box{font-size: 80px; line-height: 95%; word-break: keep-all; font-weight: 600; margin-top: -10%; text-shadow: 0 0 6px; color: #fff;}
.scard .plgm-name{display: inline; background-color: #fa0; padding: 2px 24px; margin-top: 20px; font-size: 20px; width: auto;}
.scard .scard-date{margin-top: 10px;}
.scard .scard-writer{position: absolute; bottom: 60px; right: 60px;}
/*} 세션카드 */

/*광기카드 {*/
.mcard{width:315px; height: 515px; background-color: #000; position: relative;}
.mcard .mcard-detail{width:100%; height: 100%; background-color: rgba(255,255,255,0.3); display: flex; justify-content: center; align-items: center; padding: 40px; box-sizing: border-box; position: absolute; top:0; left:0;}
.mcard .mcard-detail .title-box{margin-top: -20%; font-weight: 600; color: #000; font-size: 40px; text-align: center; word-break: keep-all; text-shadow: 0 0 4px;}
/*} 광기카드*/

/* 스타일 묶음 {*/
.scolor-box{background-color: #ffffff99;}/*투명 묶음*/
.sboder-box{border: 4px solid #fa0;}/*테두리 색 묶음*/
.sborder-color-box{background-color: #fa0;}/*불투명색 묶음*/
.sshadow-box{box-shadow: 0px 0px 8px #fa0;}/*그림자 색 묶음*/
.text-c{color:#fff; font-size: 18px; font-weight: 600;}/*폰트색 묶음*/
/* } 스타일 묶음*/

/* 색상선택 { */
.select-color{padding: 10px; box-sizing: border-box; text-align: center; overflow: auto;}
.select-color > li {padding: 8px; margin: 10px; border: 1px solid #fa0; border-radius: 8px;}
.select-color > li > dl > dt,
.select-color > li > dl > dd{display: inline-block;}
.select-color > li > dl > dt{font-weight: 600; margin-right: 10px;}
.select-color > li > dl > dd > input{width: 100px;}
/* } 색상선택 */