/* 옵션선택바 */
.box_img{width:100%; max-width: 640px; margin: 0 auto;}

/* 테이블 탭 */
.table_menutab{width: 100%; max-width: 640px; margin: 0 auto;}
.table_menutab > ul {display: flex;}
.table_menutab > ul > li{flex-grow: 1; text-align: center;}

/* 메인 영역 */
.img_table{width:300px; height: 200px; background-repeat: no-repeat; background-size: cover; background-position: center; position: relative;}

.img_table img{width: 100%; height: 100%; object-fit: cover; position: absolute;top:0; left:0; opacity: 0.8;}
.test{position: absolute; top: 0; left: 0; width: 100%; height: 100%; color: #fff; /*background-image: url('../beach-e131b40c2b_1280.jpg');*/ background-color: #fff; z-index: 100; font-size: 20px; background-size: 100%;}
.test2{position: absolute; top:0; left:0; width: 100%; height: 100%; text-align: center; color: #fff; filter: grayscale(1); background-color: rgba(0,0,0,0.4); font-weight: 600; padding: 10px; box-sizing: border-box;}
.test2 > div{width: 100%; height: 100%; border-radius: 4px; border: 4px solid rgba(255,255,255,0.8); box-sizing: border-box; text-shadow: 4px 4px 3px rgba(255,255,255,0.8);}