/*월인석보체 - Wolin.woff*/
@font-face { font-family: 'Wolin'; src: url('../../fonts/Wolin.woff') format('woff'); font-weight: normal; font-style: normal; }
/*EBS훈민정음 - EBSHunminjeongeum.woff*/
@font-face { font-family: 'EBSHunminjeongeumSBA'; src: url('../../fonts/EBSHunminjeongeum.woff') format('woff'); font-weight: normal; font-style: normal; }
/*스텐실 - stencil.woff*/
@font-face { font-family: 'stencil'; src: url('../../fonts/stencil.woff') format('woff'); font-weight: normal; font-style: normal; }
/*나눔스퀘어라운드 - NanumSquareRound.woff*/
@font-face { font-family: 'NanumSquareRound'; src: url('../../fonts/NanumSquareRound.woff') format('woff'); font-weight: normal; font-style: normal; }

/*명조*/
/*산돌국대떡볶이체 - SDKukdetopokki.woff*/
@font-face { font-family: 'SDKukdetopokki'; src: url('../../fonts/SDKukdetopokki.woff') format('woff'); font-weight: normal; font-style: normal; }
/*이순신체 - YiSunShinRegular.woff*/
@font-face { font-family: 'YiSunShinRegular'; src: url('../../fonts/YiSunShinRegular.woff') format('woff'); font-weight: normal; font-style: normal; }
/*경기천년바탕 - GyeonggiBatang.woff*/
@font-face { font-family: 'GyeonggiBatang'; src: url('../../fonts/GyeonggiBatang.woff') format('woff'); font-weight: normal; font-style: normal; }

/*손글씨*/
/*꽃길 - SangSangFlowerRoad.woff*/
@font-face { font-family: 'SangSangFlowerRoad'; src: url('../../fonts/SangSangFlowerRoad.woff') format('woff'); font-weight: normal; font-style: normal; }
/*어비송체*/
@font-face { font-family: 'UhBeesong'; src: url('../../fonts/UhBeesong.woff') format('woff'); font-weight: normal; font-style: normal; } 
/*헬스셋 조릿대체*/
@font-face { font-family: 'HealthsetBambooStd'; src: url('../../fonts/HealthsetBambooStd.woff') format('woff'); font-weight: normal; font-style: normal; }