/* reset.css */
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700');

:root{font-size:16px; color:inherit;}

html,body{width: 100%; height: 100%;  color:#333;}
html, body, h1, h2, h3, h4, h5, h6, 
p, div, img, table, figure, 
header, article, section, footer, nav,aside,main, 
ul,ol,dl,li,dt,dd,fieldset, pre{
  margin:0; padding:0; border:0; outline: 0;
  font: 100%/1.2/*rem이 된다.*/ 'Nanum Gothic', sans-serif; }

h1,h2,h3,h4,h5,h6{font-weight:bold;/*font: 에서 normal로 자동 설정되었기 때문에 다시*/}

table,tr,td,th,thead,tbody,tfoot{
  border-style:solid; border-color:#333;  border-width:1px;
border-spacing:0; border-collapse:collapse;}

ul, ol, li{list-style: none;}
a{color:inherit; text-decoration: none;}/*a태그 밑줄없앰*/
a:hover{color:#F18C00;}

input[type="submit"],input[type="reset"],input[type="button"],
button{background-color:transparent; cursor:pointer; border:0;}

input[type="text"],input[type="password"],
input[type="search"],input[type="tel"],input[type="url"],input[type="email"],
textarea{text-indent:6px; padding:0.3em; box-sizing:border-box; border: 1px solid #777;}

/* html5 */
header, article, section, footer, nav, aside, hgroup, figure, main{display: block;}


/* normalize */
/*
 * 기본 웹 css형태를 사용할경우에는 class이름 앞에 me라고 작성후_로 구분하여 이름제작
 * */

/*h2, h3, h4, h5, h6{width: 0; height: 0; overflow: hidden;}*/
.me_base{width: 960px; height: auto;
         padding:0 10px; box-sizing:border-box;
         margin: 0 auto;}
.me_base:after{content:" "; display: block; clear:both;}
.me_wide{width: auto; max-width: 100%;  min-width: 960px; height: auto;
         padding:0 10px; box-sizing:border-box;  margin: 0 auto;}
.me_base:after{content:" "; display: block; clear: both;}

@media screen and (min-width:960px){
  body{overflow-x:hidden;}
  .me_line{position: relative;}
  .me_line:before{width: 100vw; height: 100%; position: absolute; top: 0; left: 50%; margin-left: -50vw;
        background-color:inherit;}

.cf::after, .clearfix::after{content:""; display: block; clear: both;}
.me_full{width: 100%; height: 100%;}
.me_link a{width:100%; height:100%; background-repeat:no-repeat; display:block;}
.me_link a>span, .me_hidden, legend{
  width: 0; height: 0; display: block; position: absolute; z-index: -100; overflow: hidden;}

.me_first:first-of-type{margin-left: 0; padding-left: 0; border-left: 0;}
.me_last:last-of-type{margin-right: 0; padding-right: 0; border-right: 0;}

.me_link_bar>li{padding:0 0.4em; position: relative; margin-right:0.2em; float: left;}
.me_link_bar>li:after{
  content:" "; width:2px; height:80%; background-color:#999; position:absolute; right:-50%; top:10%;
  z-index:100;}
.me_link_bar>li:last-child{border-right:0; margin-right: 0;}
.me_link_bar>li:last-child:after{display: none;}




/* web accessibility */
/*a:focus,*/
input:focus, button:focus, textarea:focus, select:focus{
  outline: 0; position: relative; z-index: 1000;}
/*:focus{background-color:rgba(255,255,0,0.3); color:#333; position: relative; z-index: 1000;}*/

/* common.css */

.clearfix:after{content:" "; width: 0; height: 0; display: block; clear: both;}
button{display: block;}